* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 824px) {
 .container{
  max-width: 90%;
 }
}

@media screen and (min-width: 1340px) {
  .container {
    max-width: 1300px;
    margin: auto;
  }
}
