footer {
  background-color: $button;
  padding: 78px 0;

  .footer_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;

    .foot_info {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 36px;
    }

    .footer_text {
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 36px;
        column-gap: 40px;
      }
      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: $footer;
      }
    }
  }

  .twitter_inst {
    display: flex;
    align-items: start;
    gap: 34px;
  }
}
@media screen and (min-width: 824px) {
  footer {
    margin-top: -107px;
    .footer_icons {
      align-items: start;
      .footer_text {
        ul {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
@media screen and (min-width: 1340px) {
  footer {
    .footer_icons {
      display: flex;
      align-items: start;
      gap: 36px;
      .foot_info {
        flex-direction: row;
        align-items: center;
        gap: 728px;
      }
    }
  }
}
