.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  .nav_right {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
  align-self: stretch;
  margin-top: 60px;
  .health {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;

    h1 {
      text-align: center;
      font-family: Poppins;
      font-size: 37.9px;
      font-style: normal;
      font-weight: 600;
      line-height: 47px;
      color: $text-h1;
    }
    p {
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: $text-p;
      text-align: center;
      //   margin-bottom: 33px;
    }
    button {
      padding: 16px;
      border: none;
      border-radius: 67px;
      display: flex;
      justify-content: center;
      margin: auto;
      background-color: $button;
      width: 211px;
      text-align: center;
      font-size: 21.33px;
      font-style: normal;
      font-weight: 600;
      line-height: 112.518%;
      color: $footer;
    }
  }
  .health_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    .health_images {
      img {
        max-width: 100%;
        // height: 391px;
      }
    }
  }
}
@media screen and (min-width: 824px) {
  .navbar {
    .nav_right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 40px;
      a {
        color: $text-p;
      }
    }
    i {
      display: none;
    }
  }
  .hero {
    .health {
      h1 {
        font-size: 65.34px;
        line-height: 82px;
      }
      //   p {
      //   max-width: 884px;
      //   }
    }
    .health_img {
      flex-direction: row;
      justify-content: center;
      .health_images {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 1340px) {
  .container {
    max-width: 1300px;
    margin: auto;
  }
  .hero {
    .health {
      h1 {
        font-size: 65.34px;

        line-height: 82px;
      }
    }
    .health_img {
      .health_images {
        img {
          max-width: 626px;
          height: 391px;
        }
      }
    }
  }
}
